{%- for member in cluster_qmgrs %}
{%- if member.host == inventory_hostname %}
STOP LISTENER(SYSTEM.DEFAULT.LISTENER.TCP) +
     IGNSTATE(YES)

STOP LISTENER(SYSTEM.LISTENER.TCP) +
     IGNSTATE(YES)

DEFINE LISTENER(CLUSTER.LISTENER.TCP) +
       TRPTYPE(TCP) +
       PORT({{ member.cluster_listener_port }}) +
       REPLACE

START LISTENER(CLUSTER.LISTENER.TCP) +
      IGNSTATE(YES)

{% if member.cluster_full_repo %}
ALTER QMGR REPOS({{ member.cluster_name | upper }})
{% endif %}

DEFINE CHANNEL(LOOPBACK.{{ member.name | upper }}) +
       CHLTYPE(CLUSRCVR) +
       CLUSTER({{ member.cluster_name | upper }}) +
       CONNAME({{ member.host | upper }}) +
       TRPTYPE(TCP) +
       REPLACE

DEFINE CHANNEL(TO.{{ member.name | upper }}) +
       CHLTYPE(CLUSRCVR) +
       CLUSTER({{ member.cluster_name | upper }}) +
       TRPTYPE(TCP) +
       REPLACE

DEFINE CHANNEL(TO.{{ member.peer | upper }}) +
       CHLTYPE(CLUSSDR) +
       CLUSTER({{ member.cluster_name | upper  }}) +
       CONNAME({{ member.cluster_peer | upper }}) +
       TRPTYPE(TCP) +
       REPLACE

ALTER  QMGR CHLAUTH(DISABLED)
ALTER  QMGR CONNAUTH(' ')
REFRESH SECURITY TYPE(CONNAUTH)
{% endif %}
{% endfor %}
