{% for container in ibmmq_container %}
{% if is_full_repo %}
ALTER QMGR REPOS({{ container.cluster_name }})
{% endif %}

DEFINE LISTENER({{ qmgr_name }}_LST) TRPTYPE(TCP) PORT({{ listener_port }}) CONTROL(QMGR)
START LISTENER({{ qmgr_name }}_LST)

DEFINE CHANNEL(TO.{{ qmgr_name }}) CHLTYPE(CLUSRCVR) TRPTYPE(TCP) +
  CONNAME('{{ container.cluster_receiver_conname }}') +
  CLUSTER({{ container.cluster_name }}) +
  REPLACE

DEFINE CHANNEL(TO.{{ hostvars[cluster_sender_target].qmgr_name }}) CHLTYPE(CLUSSDR) TRPTYPE(TCP) +
  CONNAME('{{ hostvars[cluster_sender_target].inventory_hostname }}({{ listener_port }})') +
  CLUSTER({{ container.cluster_name }}) +
  REPLACE

DEFINE QLOCAL({{ container.cluster_name }}.QUEUE) CLUSTER({{ container.cluster_name }}) REPLACE

ALTER QMGR DEADQ(SYSTEM.DEAD.LETTER.QUEUE)
{% endfor %}
