---
version: 3
images:
  base_image:
    name: quay.io/centos/centos:stream9
options:
  workdir: /runner
  user: runner
dependencies:
  system:
    - python3.12 [platform:rpm]
    - python3.12-pip [platform:rpm]
    - python3.12-devel [platform:rpm]
    - sshpass [platform:rpm]
    - beaker-client [platform:rpm]
    - krb5-workstation [platform:rpm]
  python:
    - ansible-lint
    - pip>=25.3
    - pyghmi
    - wheel
    - kubernetes
    - setuptools
    - urllib3>=2.5.0
    - jmespath 
  ansible_core:
    package_pip: ansible-core>=2.16.13
  ansible_runner:
    package_pip: ansible-runner
  galaxy:
    collections:
      - name: ansible.posix
      - name: ansible.utils
      - name: community.general
      - name: desyncit.beaker
  python_interpreter:
    package_system: "python312"
    python_path: "/usr/bin/python3.12"
additional_build_files:
  - src: configs
    dest: configs
additional_build_steps:
  prepend_base: |
    ENV ANSIBLE_VAULT_PASSWORD_FILE=/etc/profile.d/decrypt.sh
    ENV BEAKER_REPO="https://beaker-project.org/yum/beaker-client-CentOSStream.repo"
    RUN yum config-manager --add-repo $BEAKER_REPO
    RUN useradd --home-dir /runner runner
  append_final: |
    COPY _build/configs/profile.d/*.sh                           /etc/profile.d/
    COPY --chown=runner:runner _build/configs/ansible.cfg        /runner/.ansible.cfg
    COPY --chown=runner:runner _build/configs/beaker_client      /runner/.beaker_client
    COPY --chown=runner:runner _build/configs/ssh                /runner/.ssh
