[submodule "container-builds/resume-jherron/blog/themes/terminalcv"]
	path = container-builds/resume-jherron/blog/themes/terminalcv
	url = https://github.com/coolapso/hugo-theme-terminalcv.git
[submodule "toolbox"]
	path = toolbox
	url = git@gitlab.com:net-dev-net/toolbox.git
