---
service_type: grafana
service_name: grafana
placement:
  label: 
spec:
  port: {{ storage_grafana_port }}
  initial_admin_password: {{ ansble_ssh_password }}
  anonymous_access: false
  protocol: https
