---
- name: Container image
  ansible.builtin.include_tasks:
    file: container.yml  

- name: Create configuration file
  ansible.builtin.include_tasks:
    file: create.yml

- name: Verify cluster state
  ansible.builtin.include_tasks:
    file: verify.yml
