text --non-interactive
reboot
%addon com_redhat_kdump --enable --reserve-mb='auto' 
%end

%post --logfile /tmp/post.log
VG=$(lvs| awk '/root/{print $2}')
PV=$(pvs| awk '/sd[a-z]/{print $1}')
lvextend -r $VG/root $PV
sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/g' /etc/ssh/sshd_config
{% if ansible_distribution == "RedHat" %} 
subscription-manager register --org={{ rhsm_org }} --activationkey={{ rhsm_activtionkey }}
subscription-manager release --set={{ os_release_id }}
{% endif %}
%end

%pre --logfile /tmp/pre.log
VG=$(lvs | awk '/\s.root/{print $2}')
vgremove -y -ff $VG
pvremove -y -ff /dev/sd*
pvremove -y -ff /dev/nvme*
wipefs -a /dev/sd*
%end

%packages
@^minimal-environment
@system-tools
%end

## Environment
skipx
selinux  --disabled
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

# network
network --hostname="{{ ansible_hostname }}"

# Installation media source
{% for n in beaker_rhel_release_id %}
  {% if "{{ release }}" in n["name"] %}
nfs --server "{{ nfsserver }}" --dir {{ n["nfsdir"] }}
  {% endif %}
{% endfor %}

zerombr
clearpart --all --initlabel --disklabel gpt
autopart --type=lvm --nohome --noswap --fstype=xfs
bootloader --append="processor.max_cstate=1 intel_idle.max_cstate=0 idle=poll"
timezone America/New_York --utc 
rootpw {{ ks_rootpw }} --iscrypted
